<html>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="card" style="width: 18rem;" >
         <img class="card-img-top" src="./assets/Music.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">welcome</h5>
                    <p class="card-text">{{item}}</p>
                    <!-- <app-button [itemData]="item.name"></app-button> -->
                    <!-- <app-button (click)="add()" ><i class="fa fa-heart"></i></app-button> -->
            
        </div>
    </div>
</html>